.wrapper {
    max-width: 800px;
    margin: 0 auto;
}
.tab {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    z-index: 5;
}

.tab.active {
    border: 1px solid #707070;
    border-bottom: 1px solid #fff;
    border-radius: 3px 3px 0 0;
}

.content {
    position: relative;
    top: -1px;
    display: none;
    width: 100%;
    min-height: 60px;
    border: 1px solid #707070;
    border-radius: 0 0 3px 3px;
    padding: 10px;
    z-index: 1;
}