.menu__item {
    position: relative;
    display: inline-block;
    border: 2px solid #eee;
    cursor: pointer;
}

.menu__item .submenu {
    position: absolute;
    height: 40px;
    width: 120px;
    background-color: #eee;
    cursor: pointer;
}
